<!DOCTYPE HTML>
<!-- 타임리프 추가 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- 타임리프 추가 -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <!--    <link href="../css/bootstrap.min.css" rel="stylesheet">-->
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <h4 class="mb-3">상품 입력</h4>
    <!-- 타임리프 추가 -->
    <!--같은 ULR일 경우에 th:action을 비워둬도 된다 - 비어있으면 요청을 통해 진입할때의 매핑주소(/basic/items/add) 그대로 사용한다. -->
    <form action="item.html" th:action method="post">
        <!-- th:action="/basic/items/add" -->
<!--    <form action="item.html" th:action="/basic/items/add" method="post">-->
<!--    <form action="item.html" method="post">-->
        <div>
            <label for="itemName">상품명</label>
            <input type="text" id="itemName" name="itemName" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div>
            <label for="price">가격</label>
            <input type="text" id="price" name="price" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="quantity">수량</label>
            <input type="text" id="quantity" name="quantity" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <!-- 타임리프 추가 -->
                <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/basic/items}'|"onclick="location.href='items.html'" type="button">취소</button>
<!--                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'" type="button">취소</button>-->
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>